@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/*creates a custom layer to add multiple css properties to layers as a class*/
@layer components {
  .text-spacing {
    @apply px-4;
    @apply cursor-pointer;
  }
}

@font-face {
  font-family: 'Edu TAS Beginner', cursive;
  src: url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&display=swap');
}

.bg-image-card {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.bg-image-card:hover {
  background-image:linear-gradient(
    to right,
    rgba(112,157,255,0.8),
    hsla(242,74%,61%, 0.8)
  )
}


